{% extends 'base.html' %}
{% load static %}

{% block content %}

<nav class="second-nav">
  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
    href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
      Home
    </a>
    <a class="nav-item nav-link" id="passed-failed-per-day-chart-tab"
    data-toggle="tab" href="#passed-failed-per-day-chart" role="tab"
    aria-controls="nav-profile" aria-selected="false">
      Passed / failed builds per day
    </a>
    <a class="nav-item nav-link" id="failed-builds-outliers-chart-tab"
    data-toggle="tab" href="#failed-builds-outliers-chart" role="tab"
    aria-controls="nav-contact" aria-selected="false">
      Failed Builds Outliers
    </a>
    <a class="nav-item nav-link" id="duration-time-builds-chart-tab" data-toggle="tab" href="#duration-time-builds-chart" role="tab" aria-controls="nav-contact" aria-selected="false">Builds duration vs time</a>

  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="greetings">
      <p>Welcome to CI dashboard.</p>
      <p>
        This small web-application loads default csv file into MySQL database.
        You can download this csv <a href="{% static 'session_history.csv' %}">
        file</a>.
      </p>
      <p><span class="special">Backend:</span> Django & Django REST Framework creates API endpoint where we can access all builds from database in JSON format.</p>
      <p><span class="special">Frontend:</span> Javascript parses this data and builds charts
      with Chart.js.</p>
      <p>You can see these charts clicking on the next tabs.</p>
    </div>
  </div>
  <div class="tab-pane fade" id="passed-failed-per-day-chart" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="chart">
      <canvas id="stacked-bar-chart" ></canvas>
    </div>
  </div>
  <div class="tab-pane fade" id="failed-builds-outliers-chart" role="tabpanel" aria-labelledby="nav-contact-tab">
    <div class="chart">
      <canvas id="outliers-failed-chart"></canvas>
    </div>
      <div class="algoexplanation">
        <h5>* Algorithm for detection outliers we used</h5>
        <p>An outlier is an observation that lies an abnormal distance from other values in a random sample from a population.</p>
        <p>To detect outliers we use a method described by Moore and McCabe. This method gives more strict definition of outlier as a point which falls more than 1.5 times the interquartile range above the third quartile or below the first quartile. According to this method, we need to find for our sorted dataset:</p>
        <ul>
          <li>the first quartile Q1</li>
          <li>the third quartile Q3</li>
          <li>interquartile range IQR = Q3 - Q1</li>
          <li>lower outlier boundary = Q1 - 1.5 * IQR</li>
          <li>upper outlier boundary = Q3 + 1.5 * IQR</li>
        </ul>
        <p>In our application we are interested only in high outliers(data higher
        than upper outlier boundary) - we want to track the number of failed builds that is bigger than normal.</p>
      </div>
  </div>
  <div class="tab-pane fade" id="duration-time-builds-chart" role="tabpanel" aria-labelledby="nav-contact-tab">
    <div class="chart">
      <canvas id="duration-time-chart"></canvas>
    </div>
  </div>
</div>
{% endblock content %}
