.navbar .bg-dark {
  background-color: #558C89;
}
.second-nav {
  margin-top: 30px;
}
.chart {
  margin-top: 40px;
}
.greetings {
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.greetings p:first-of-type{
  text-align: center;
}
.nav-item{
  background-color: #7D1935;
  color: #F5F3EE;
}
.nav-link:hover {
  color: #F5F3EE;
}
.nav-tabs {
    border-bottom: 5px solid #4A96AD;
}
.special {
  font-family: 'Berkshire Swash', cursive;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.5px;
}


